:root {
  --color-level-1-custom: rgba(247, 246, 244, .8);
}

/********************/
/** Custom queries **/
/********************/

html[data-theme='light'] #right-sidebar {
  background-color: var(--color-level-1-custom);
}

html[data-theme='light'] .color-level .color-level {
  background-color: rgba(255, 254, 253);
  border: 1px solid var(--color-level-1);
  border-radius: 8px;
}

html[data-theme='light'] .color-level .color-level .color-level {
  background-color: var(--color-level-1);
  border-radius: 8px;
}

html[data-theme='light'] .sidebar-item.color-level {
  background: none;
}

/* Header */
#repo-switch .dropdown-caret,
#repo-switch .repo-plus {
  display: none;
}

#repo-switch {
  margin-left: 12px;
}

.cp__header-logo .svg-shadow {
  /* Remove the box shadow that comes by default */
  box-shadow: none;
  filter: none;
}

/* Inline custom queries */
html[data-theme='light'] .block-body .custom-query {
  background-color: var(--color-level-1-custom);
  border: 1px solid var(--color-level-1);
}

.block-body .custom-query {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 10px;
  border-radius: 8px;
  margin-top: 0;
}

/* Today queries */
#today-queries {
  font-size: .9em;
  margin-left: -24px;
  border-radius: 8px;
  margin-top: 48px;
}

#today-queries .ls-block {
  padding-top: 2px;
  padding-bottom: 0;
}

html[data-theme='light'] #today-queries .custom-query {
  background-color: var(--color-level-1-custom);
  border: 3px solid white;
}

html[data-theme='dark'] #today-queries .custom-query {
  background-color: rgba(255, 255, 255,.04);
  border: 3px solid rgba(255, 255, 255,.05);
}

#today-queries .custom-query {
  margin-top: 2px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  border-radius: 8px;
}

#today-queries .custom-query:first-of-type {
  margin-top: 0;
  border-top: none;
}

.custom-query-title {
  // font-family: 'Roboto Mono' !important;
  font-weight: bolder;
  opacity: .4;
}

/*******************/
/** Right sidebar **/
/*******************/

.sidebar-item {
  box-shadow: none !important;
}

html[data-theme='light'] html #left-container::-webkit-scrollbar {
  background-color: white;
}

html[data-theme='light'] html .cp__right-sidebar-scollable::-webkit-scrollbar {
  background-color: rgb(247, 246, 244, .8);
}

html[data-theme='light'] .sidebar-item {
  border-bottom: 1px solid #e8e5de;
}

/*************************/
/** Tags (e.g. #urgent) **/
/*************************/

.tag, code, pre {
  // font-family: 'iA Writer Mono V' !important;
  // font-family: 'Roboto Mono' !important;
  font-weight: 500;
}

.tag[data-ref="urgent"] {
  background: rgb(255, 145, 0);
  color: white;
  padding: 0 3px;
  border-radius: 6px;
}

.tag[data-ref="skipped"] {
  background: #444;
  color: white;
  padding: 0 3px;
  border-radius: 6px;
}

.tag[data-ref="good-for-sleepy"] {
  background: rgb(65, 17, 141);
  color: white;
  padding: 0 3px;
  border-radius: 6px;
}

.tag[data-ref="low-priority"] {
  background: rgb(186, 174, 204);
  color: white;
  padding: 0 3px;
  border-radius: 6px;
}

/********************************/
/** Add emoji to sidebar links **/
/********************************/

.cp__right-sidebar-settings > .ml-4.text-sm {
  font-weight: bold;
}

.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(1) > a {
	color: transparent;
}

.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(1) a:before {
	content: "⭐️ ‎‎‎‎Shortcuts";
	color: var(--ls-primary-text-color);;
	display: block;
	position: relative;
}

.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(2) > a {
	color: transparent;
}

.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(2) a:before {
	content: "🦋 ‎‎‎‎Recent";
	color: var(--ls-primary-text-color);;
	display: block;
	position: relative;
}

/* Don't show the page graph button */
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(3) {
  display: none;
}

.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(4) > a {
	color: transparent;
}

.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(4) a:before {
	content: "🆘 ‎‎‎‎Help";
	color: var(--ls-primary-text-color);;
	display: block;
	position: relative;
}

/***********/
/** TODOs **/
/***********/

.form-checkbox {
  color: var(--ls-page-checkbox-color,#6093a0);
  background: none;
  border: 2px solid var(--ls-page-checkbox-color,#6093a0);
  border-radius: 2px;
}

.todo .form-checkbox {
  border-color: #999;
}

.doing .form-checkbox {
  border-color: rgb(50, 209, 135);
  border-radius: 13px;
}

.done .form-checkbox {
  border-color: #999;
}

.form-checkbox {
  margin-right: 9px !important;
}

.marker-switch {
  display: none;
}

.form-checkbox:checked {
  background-color: #999;
  background-image: url("data:image/svg+xml,%3csvg viewBox='3 3 10 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e") !important;
}

.form-checkbox:focus {
  border-color: #999;
}

html[data-theme=light] .done .form-checkbox:focus {
  border-color: #999; // #555;
  background-color: #999; // #555;
  transition: all 100ms;
}

html[data-theme=light] .todo .form-checkbox:focus {
  border-color: #999; // #555;
}

.form-checkbox:focus {
  // transition: border-color 1000ms, ;
}

mark {
  background: #43b7ff42;
}

/******************************************************************************/
/** Headers *******************************************************************/
/******************************************************************************/

.ls-block h1,
.ls-block h2,
.ls-block h3 {
  margin-left: -21px !important;
  padding-left: 5px;
  background: white;
}

.ls-block h1 {
  margin: 0;
  margin-top: 12px;
}

.ls-block h2 {
  margin: 0;
  margin-top: 9px;
}

.ls-block h3 {
  margin: 0;
  margin-top: 6px;
}

h1.title {
  font-weight: 800;
  font-size: 36px;
  width: 100%;
}

/* This should only apply to the title row, but I couldn't find a good selector
 * for it. It appears that it's the only thing that has these 3 classes, so it
 * seems fine for now. */
.flex.flex-row.space-between,
.flex-1.journal.page > .flex.flex-col > .content > .flex-1.flex-row.foldable-title {
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e8e5dec2;
}

/******************************************************************************/
/** Undo doc mode for now *****************************************************/
/******************************************************************************/

.doc-mode {
  margin-left: 0;
}

.doc-mode .block-children {
  border-left: 1px solid #eee !important;
  margin-left: 24px !important;
}

.doc-mode .hide-inner-bullet .bullet {
  display: block !important;
}

.done, .done * {
  opacity: 1;
  color: #aaa;
}

.todo .form-checkbox,
.doing .form-checkbox {
  background: white;
}

.form-checkbox {
  height: .88em;
  width: .9em;
  height: 15px;
  width: 15px;
  margin-right: 8px !important;
  margin-left: -22px;
}

.form-checkbox:hover {
  height: 15.1px;
  width: 15.1px;
  margin-right: 8px !important;
}

/******************************************************************************/

.extensions__code>.CodeMirror {
  // width: 97% !important;
  // border: 3px solid orange;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like,
.CodeMirror * {
  word-wrap: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
}

.bullet-container {
  margin-left: -3px;
  margin-right: 3px;
}

.bullet-container .bullet {
  width: 8px;
  height: 8px;
  background-color: #999;
}

.time-spent a {
  display: none;
  cursor: default;
  color: #444;
  font-size: 13px;
  font-family: "Roboto Mono";
}

.block-control, .block-control:hover {
  margin-left: -1px;
  margin-right: 8px !important;
}
