:root {
  --sans-serif-font: 'Inter', sans-serif;
  --monospace-font: 'Roboto Mono', monospace;
}
html {
  font-family: var(--sans-serif-font);
}

/******************************************************************************/

.white-theme,
html[data-theme='light'] {
  --ls-primary-background-color: white;
}
#main-container- {
  border-top: 34px solid #ff86c166;
}
#main-container-:before {
  content: 'Real database';
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 0.9em;
  padding: 7px;
  text-align: center;
  font-family: var(--monospace-font);
  font-weight: bold;
}
:root {
  --color-level-1-custom: var(--color-level-1);
  --color-level-2-custom: var(--color-level-2);
  --ls-primary-background-color--dark: var(-ls-block-bullet-color);
}

/******************************************************************************/
/** Custom queries ************************************************************/
/******************************************************************************/

.custom-query {
  margin-left: -28px;
}
html[data-theme='light'] #right-sidebar {
  background-color: var(--color-level-1-custom);
  border-left: 1px solid var(--color-level-2-custom);
}
html[data-theme='light'] #left-sidebar {
  background-color: var(--color-level-1-custom);
  border-right: 1px solid var(--color-level-2-custom);
}
@media (min-width: 640px) {
  .cp__sidebar-left-layout.is-open {
    width: calc(var(--ls-left-sidebar-width) + 1px); /* for some reason, this is needed, otherwise the border-right on #left-sidebar won't show */
  }
}
html[data-theme='light'] .color-level .color-level {
  background-color: rgba(255, 254, 253) !important;
  border: 1px solid var(--color-level-1);
  border-radius: 8px;
}
html[data-theme='light'] .color-level .ls-block :is(h1, h2, h3, h4, h5, h6) {
  background-color: var(--color-level-1-custom) !important;
}
html[data-theme='light']
  .references-blocks
  .color-level
  .ls-block
  :is(h1, h2, h3, h4, h5, h6) {
  background-color: white !important;
}
html[data-theme='light'] .color-level .color-level .color-level {
  background-color: var(--color-level-1);
  border-radius: 8px;
}
html[data-theme='light'] .sidebar-item.color-level {
  background: none;
}
/* Header */
#repo-switch .dropdown-caret,
#repo-switch .repo-plus {
  display: none;
}
#repo-name {
  max-width: 17ch;
  overflow: visible;
}
.cp__header-logo .svg-shadow {
  /* Rec the box shadow that comes by default */
  box-shadow: none;
  filter: none;
}
// .cp__header-logo svg {
//   display: none;
// }
.cp__header-logo:before {
  // content: "→ Home";
  font-size: 13px;
  color: var(--ls-icon-color, #045591);
  font-weight: bold;
}
#search-field::placeholder {
  color: var(--ls-icon-color, #045591);
  opacity: 0.6;
}
#search-field {
  transition: opacity 0.1s ease-in;
}
/* Inline custom queries */
html[data-theme='light'] .block-body .custom-query,
html[data-theme='light'] .dsl-query {
  background-color: var(--color-level-1-custom);
  border: 1px solid var(--color-level-1);
}
html[data-theme='dark'] .block-body .custom-query,
html[data-theme='dark'] .dsl-query {
  background-color: var(--color-level-1);
}
.block-body .custom-query,
.dsl-query {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 10px;
  border-radius: 8px;
  margin-top: 0;
  font-size: 0.9em;
}
.custom-query .my-2.ml-4,
.dsl-query .my-2.ml-4 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.custom-query .ml-4,
.dsl-query .ml-4 {
  margin-left: 0;
}
.custom-query .py-2,
.dsl-query .py-2 {
  padding-top: 0;
  padding-bottom: 0;
}
.custom-query .px-7,
.dsl-query .px-7 {
  padding-left: 0;
}
.custom-query .ml-4,
.dsl-query .ml-4 {
  padding-left: 0;
}
/* Override .mt-4 class */
.dsl-query .mt-4 {
  margin-top: 0;
}
.custom-query #lazy-blocks {
  margin: 0 10px 5px -16px;
}
.embed-page {
  margin-left: -20px;
  margin-right: -20px;
}
.embed-block {
  margin-left: -10px;
}
.embed-block .px-3.pt-1.pb-2 {
  padding: 0;
  padding-left: 12px;
}
.embed-block #lazy-blocks .items-center {
  display: none;
}
.embed-block .blocks-container #lazy-blocks {
  margin-left: 8px;
}
// .custom-query .ls-block:not(:last-of-type) {
//   margin-bottom: 16px;
// }
.custom-query .ls-block[data-refs-self*='"todo"'],
.custom-query .ls-block[data-refs-self*='"doing"'],
.custom-query .ls-block[data-refs-self*='"done"'],
.custom-query .ls-block[data-refs-self*='"canceled"'] {
  margin-bottom: 0;
}
.custom-query .ls-block[data-refs-self*='"todo"'] .block-parents:not(:first-child),
.custom-query .ls-block[data-refs-self*='"doing"'] .block-parents:not(:first-child),
.custom-query .ls-block[data-refs-self*='"done"'] .block-parents:not(:first-child),
.custom-query
  .ls-block[data-refs-self*='"canceled"']
  .block-parents:not(:first-child) {
  margin-top: 16px;
}
/* this hides TODOs' paths to make the custom query blocks a little more streamlined */
// .custom-query .block-parents {
//   display: none;
// }
.custom-query .initial {
  // margin-top: -26px;
}
// /* remove the page title from {{query ... }} results */
// .custom-query .initial .items-center .page-ref {
//   display: none;
// }
.custom-query-title {
  font-family: var(--monospace-font);
  font-size: 0.9em;
  margin-left: 10px !important;
  margin-bottom: 0.3em;
  // position: absolute;
  // right: 24px;
  // width: 200px;
  // text-align: right;
}
/* hide title for custom queries (e.g. on Home page) */
.custom-query .custom-query-title .title-text {
  margin-right: 1.1rem !important;
  // display: none;
}
/* Brute force hide the `Table view` option */
.custom-query .flex.flex-row.align-items.mt-2 {
  display: none;
}
.custom-query .custom-query-title .results-count {
  margin-left: 0;
}
/* Today queries */
#today-queries {
  font-size: 0.9em;
  margin-left: -24px;
  border-radius: 8px;
  margin-top: 48px;
}
#today-queries .ls-block {
  padding-top: 2px;
  padding-bottom: 0;
}
html[data-theme='light'] #today-queries .custom-query {
  background-color: var(--color-level-1-custom);
  border: 3px solid white;
}
html[data-theme='dark'] #today-queries .custom-query {
  background-color: rgba(255, 255, 255, 0.04);
  border: 3px solid rgba(255, 255, 255, 0.05);
}
#today-queries .custom-query {
  margin-top: 2px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  border-radius: 8px;
}
#today-queries .custom-query:first-of-type {
  margin-top: 0;
  border-top: none;
}
.custom-query-title {
  font-weight: bolder;
  opacity: 0.6;
}
/*******************/
/** Right sidebar **/
/*******************/
.sidebar-item {
  box-shadow: none !important;
}
html[data-theme='light'] html #left-container::-webkit-scrollbar {
  background-color: white;
}
html[data-theme='light'] html .cp__right-sidebar-scollable::-webkit-scrollbar {
  background-color: rgb(247, 246, 244, 0.8);
  background-color: white !important;
}
html ::-webkit-scrollbar {
  width: calc(2 * var(--ls-scrollbar-width));
  background-color: transparent !important;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--ls-tertiary-background-color);
  border: 2px solid var(--ls-primary-background-color);
}
html ::-webkit-scrollbar-thumb:hover,
html ::-webkit-scrollbar-thumb:active { /* active is just when it's clicked, not when scrolling in general sadly*/
  background-color: var(--ls-quaternary-background-color);
}
#left-sidebar ::-webkit-scrollbar,
#right-sidebar ::-webkit-scrollbar {
  background-color: var(--ls-secondary-background-color);
  background-color: transparent;
}
#left-sidebar ::-webkit-scrollbar-thumb,
#right-sidebar ::-webkit-scrollbar-thumb {
  background-color: var(--ls-quaternary-background-color);
  border: 2px solid var(--ls-secondary-background-color);
}

html[data-theme='light'] .sidebar-item {
  border-bottom: 1px solid var(--ls-quaternary-background-color);
}
/*************************/
/** Tags (e.g. #urgent) **/
/*************************/
a.tag {
  /*
  float: right;
  */
  margin-left: 4px;
  opacity: 80%;
  border: 1px solid var(--ls-tag-text-color, #045591);
  color: var(--ls-tag-text-color, #045591);
  transition: border-color background-color opacity linear 500ms;
  font-size: 0.7em;
}
.tag:hover {
  color: var(--ls-tag-text-hover-color, #045591);
  border: 1px solid var(--ls-tag-text-hover-color, #045591);
  opacity: 100%;
  transition: background-color opacity linear 500ms;
}
.tag,
code,
pre {
  font-family: var(--monospace-font);
  font-weight: 500;
}
html[data-theme='light'] .tag {
  // color: white !important;
  padding: 0 3px;
  border-radius: 2px;
}
html[data-theme='dark'] .tag {
  // color: black !important;
  // color: white !important;
  // box-shadow: 0 0 2px white;
  padding: 0 3px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
html[data-theme='light'] .tag[data-ref='standup'] {
  border: 1px solid #888;
  color: #444 !important;
  opacity: 0.4;
  background-color: transparent;
  padding: 0 3px;
  border-radius: 2px;
}
html[data-theme='light'] .tag[data-ref='standup']:hover {
  opacity: 0.6;
}
.tag[data-ref='standup']:before {
  content: '🎤';
  margin-right: 4px;
}
.tag[data-ref='to-read'] {
  border: 1px solid rgb(247, 126, 255);
  color: rgb(247, 126, 255) !important;
  background-color: transparent;
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='to-read']:before {
  content: '📚';
  margin-right: 4px;
}
.tag[data-ref='pdf'],
.tag[data-ref='paper'] {
  border: 1px solid rgb(81, 158, 255);
  color: rgb(81, 158, 255) !important;
  background-color: transparent;
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='pdf']:before,
.tag[data-ref='paper']:before {
  content: '📄';
  margin-right: 4px;
}
.tag[data-ref='book'] {
  color: rgb(55, 145, 100) !important;
  border: 1px solid rgb(55, 145, 100);
  background-color: transparent;
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='book']:before {
  content: '📗';
  margin-right: 4px;
}
.tag[data-ref='meeting'] {
  background-color: transparent;
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='meeting']:before {
  content: '📆';
  margin-right: 4px;
}
.tag[data-ref='important'],
.tag[data-ref='urgent'] {
  border: 1px solid rgb(255, 145, 0);
  color: rgb(255, 145, 0);
  transition: border-color background-color opacity linear 500ms;
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='gbpa'] {
  /* GBPA */
  border-color: #73b8ae;
  color: #73b8ae;
  padding: 0 3px;
  border-radius: 2px;
  opacity: 1;
}
.tag[data-ref='card'] {
  border-color: rgb(158, 189, 198);
  color: rgb(158, 189, 198);
  padding: 0 3px;
  border-radius: 2px;
  opacity: 1;
}
.tag[data-ref='Pronomos'] {
  color: #8ca;
  border-color: #8ca;
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='skipped'] {
  border-color: #777;
  color: #777;
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='good-for-sleepy'] {
  border-color: rgb(65, 17, 141);
  color: rgb(65, 17, 141);
  padding: 0 3px;
  border-radius: 2px;
}
.tag[data-ref='low-priority'] {
  border-color: rgb(186, 174, 204);
  color: rgb(186, 174, 204);
  padding: 0 3px;
  border-radius: 2px;
}
ins,
.is-paragraph,
.raw_html {
  display: inline;
}
/*******************/
/** Sidebar links **/
/*******************/
.cp__right-sidebar-settings > .ml-4.text-sm {
  font-weight: bold;
  font-size: 13px;
  margin-top: 24px;
  opacity: 0.6;
  transition: opacity 100ms ease-in;
}
.cp__right-sidebar-settings > .ml-4.text-sm:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(1) > a {
  color: transparent;
}
/*
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(1) a:before {
  content: "→ Favorites";
	color: var(--ls-icon-color,#045591);
	display: block;
	position: relative;
}
*/
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(1) a {
  display: none; /* Not necessary since Home serves this purpose now. */
}
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(2) > a {
  color: transparent;
}
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(2) a:before {
  content: '→ ‎Recent';
  color: var(--ls-icon-color, #045591);
  display: block;
  position: relative;
  margin-left: -12px;
}
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(3) a:before {
  color: var(--ls-icon-color, #045591);
  display: block;
  position: relative;
}
/* Don't show the page graph button
*/
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(3) {
  display: none;
}
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(4) > a {
  color: transparent;
}
.cp__right-sidebar-settings > .ml-4.text-sm:nth-child(4) a:before {
  content: '→ ‎Help';
  color: var(--ls-icon-color, #045591);
  display: block;
  position: relative;
}
.cp__header-logo,
.cp__right-menu-button {
  opacity: 0.6;
}
/***********/
/** TODOs **/
/***********/
.form-checkbox {
  color: var(--ls-page-checkbox-color, #6093a0);
  background: none;
  border: 2px solid var(--ls-page-checkbox-color, #6093a0);
  border-radius: 2px;
}
.todo .form-checkbox {
  border-color: #999;
}
.doing .form-checkbox {
  border-color: rgb(50, 209, 135);
  border-radius: 13px;
}
.done .form-checkbox,
.canceled .form-checkbox {
  border-color: #999;
}
.form-checkbox {
  margin-right: 9px !important;
}
.marker-switch {
  opacity: 0.3;
  pointer-events: none;
  // display: none;
}
.form-checkbox:checked {
  background-color: #999;
  background-image: url("data:image/svg+xml,%3csvg viewBox='3 3 10 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e") !important;
}
.form-checkbox:focus {
  border-color: #999;
}
html[data-theme='light'] .done .form-checkbox:focus {
  border-color: #999; // #555;
  background-color: #999; // #555;
  transition: all 100ms;
}
html[data-theme='light'] .todo .form-checkbox:focus {
  border-color: #999; // #555;
}
// .form-checkbox:focus {
//   transition: border-color 1000ms, ;
// }
mark {
  border-radius: 3px;
  background: #aee8efbb;
  padding-left: 4px;
  padding-right: 4px;
  text-shadow: 0 0 7px white;
}
mark code {
  background: #aee8ef;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-weight: bolder;
}

/******************************************************************************/
/** Blockquote ****************************************************************/
/******************************************************************************/

.block-body blockquote:first-child,
.block-body pre:first-child {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -2px;
  margin-bottom: -2px;
  // margin-bottom: 4px;
  // margin-top: 4px;
}
blockquote {
  padding: 4px 12px;
  filter: brightness(90%);
}
html[data-theme='light'] blockquote {
  // background: #f7f5f1;
  // filter: brightness(98%);
  filter: saturate(120%) brightness(98%);
  background: #fbfaf8;
}
.ls-block {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-top: 0;
  padding-bottom: 0;
}

/******************************************************************************/
/** Timestamps (deadline, etc) ************************************************/
/******************************************************************************/
.timestamp {
  font-family: var(--monospace-font);
}
.timestamp .timestamp-label {
  text-transform: lowercase;
}
.custom-query .timestamp {
  float: right;
  margin-top: -21px;
  margin-right: -12px;
  overflow-x: hidden;
  text-indent: -32px;
}
.custom-query .timestamp * {
  text-indent: 0;
}
.custom-query .timestamp a {
  font-size: 0.8em;
}
.custom-query .timestamp .timestamp-label {
  display: none;
}
.custom-query .drawer[data-drawer-name='logbook'] {
  display: none;
}
/* Remote < and > before/after the timestap */
.time-start,
.time-stop {
  display: none;
}

/******************************************************************************/
/** Headers *******************************************************************/
/******************************************************************************/

/*
 * Remove the block of CSS below in order to see the header handles:
.ls-block :is(h1, h2, h3, h4, h5, h6) {
  margin-left: -36px !important;
  padding-left: 20px;
  transition: all 100ms ease-in-out !important;
}
.ls-block :is(h1, h2, h3, h4, h5, h6):hover {
  transition-delay: 1s !important;
}
*/
.ls-block .collapsed :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 12px;
}
.block-control,
.block-control:hover {
  margin-left: -1px;
  margin-left: 1px;
  margin-right: 0 !important;
  margin-right: 6px !important;
}
.block-control {
  opacity: 0.3;
}
.block-control {
  opacity: 0.7;
}
.ls-block[haschild='true']
  > :not(.block-children-container)
  .block-control
  .control-hide {
  display: block; /* Override the default behavior so that the arrow block controls are not hidden. */
  opacity: 0.4;
}
// /* arrow toggle container */
// .flex .block-control {
//   background: pink;
// }
// .flex .block-control:hover {
//   background: red;
// }
/* "halo" around the bullet */
.flex .bullet-container,
.flex .bullet-container:hover {
  background: var(--ls-primary-background-color);
  background: transparent;
}
// .flex .bullet-container:hover {
//   background: blue;
// }
.flex .bullet-container:hover + .flex {
  border: 3px solid orange;
}
.block-children-left-border {
  background-color: var(--ls-secondary-background-color);
  width: 8px !important;
  margin-left: 0;
  margin-right: -3px;
  transition: all 400ms;
}
.block-children-left-border:hover {
  background-color: var(--ls-tertiary-background-color);
  width: 5px !important;
  margin-left: 0;
  margin-right: 0;
  transition: all 400ms;
}
.color-level .block-children-left-border {
  background-color: var(--ls-tertiary-background-color);
  width: 8px !important;
  margin-left: 0;
  margin-right: -3px;
  transition: all 400ms;
}
.color-level .block-children-left-border:hover {
  background-color: var(--ls-quaternary-background-color);
  width: 5px !important;
  margin-left: 0;
  margin-right: 0;
  transition: all 400ms;
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.block-content-wrapper .block-content:hover :is(h1, h2, h3, h4, h5, h6),
.ls-block:hover .block-content:hover :is(h1, h2, h3, h4, h5, h6) {
  margin-left: 0 !important;
  padding-left: 0px;
  transition: all 100ms ease-in;
}
.ls-block h1,
.editor-inner textarea.h1 {
  margin: 0 !important;
  margin-top: 12px !important;
}
.ls-block h2,
.editor-inner textarea.h2 {
  margin: 0;
  margin-top: 12px;
  min-height: 1.5em;
}
.ls-block h3,
.editor-inner textarea.h3 {
  margin: 12px 0 4px 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  // border: 1px solid green;
  border: none !important;
}
.editor-inner textarea.h1 {
  margin-left: -28.5px !important;
}
.editor-inner textarea.h2 {
  margin-left: -37px !important;
  min-height: 1.5em;
  margin-top: 12px !important;
}
.editor-inner textarea.h3 {
  margin-left: -41px !important;
}
.editor-inner textarea.h4 {
  margin-left: -47px !important;
  font-size: 1.05em;
}
.editor-inner .h4,
.ls-block h4 {
  font-size: 1.05em !important;
  font-weight: 500;
}
h1.title {
  font-size: 36px;
  width: 100%;
  margin-bottom: 0;
}
#left-sidebar .page-icon,
.title .page-icon {
  /* this is to make the ☀️ emoji render properly */
  font-family: var(--monospace-font);
}
/* This should only apply to the title row, but I couldn't find a good selector
 * for it. It appears that it's the only thing that has these 3 classes, so it
 * seems fine for now. */
.flex.flex-row.space-between,
.flex-1.journal.page > .flex.flex-col > .content > .flex-1.flex-row.foldable-title {
  padding-bottom: 0.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--ls-quaternary-background-color);
}
h1, h2, h3,
textarea.h1, textarea.h2, textarea.h3 {
  border-bottom: none !important;
}

/******************************************************************************/
/** Lists *********************************************************************/
/******************************************************************************/

// .block-body dl > li,
// .block-body ol > li,
// .block-body ul > li {
//   margin: 0;
// }
// .block-body dl>li, .block-body ol>li, .block-body ul>li>p {
//   margin-left: 12px;
// }
// .block-body ol > li > p {
//   color: purple;
// // }
// .block-body ol > li::marker {
// //   margin-left: -24px;
//   // background: var(--ls-primary-background-color);
//   //   color: red;
// }
// .block-body ol > li {
//   background: var(--ls-primary-background-color);
//   margin-left: -24px;
// }
// .block-body ol > li > p {
//   margin-left: 8px;
// }

/******************************************************************************/
/** Undo doc mode for now *****************************************************/
/******************************************************************************/
/*
.doc-mode {
  margin-left: 0;
}
.doc-mode .block-children {
  border-left: 1px solid var(--ls-quaternary-background-color) !important;
  margin-left: 24px !important;
}
.doc-mode .hide-inner-bullet .bullet {
  display: block !important;
}
*/
.done,
.done *:not(a) {
  opacity: 1;
  color: #aaa;
}
.done,
.done *:not(.tag) {
  /* make the strikethrough grey even if text is not grey */
  text-decoration: #bbbbbb99 2px line-through !important;
}
.color-level .ls-block :is(h1, h2, h3, h4, h5, h6) {
  background: var(--color-level-1);
}
.ls-block :is(h1, h2, h3, h4, h5, h6),
.todo .form-checkbox,
.doing .form-checkbox {
  background: var(--ls-primary-background-color);
}
html[data-theme='light'] .block-highlight,
html[data-theme='light'] .content .selected,
html[data-theme='light'] .content .selected .todo .form-checkbox,
html[data-theme='light'] .content .selected .doing .form-checkbox,
html[data-theme='light'] .content .selected .ls-block :is(h1, h2, h3, h4, h5, h6),
html[data-theme='light'] .selected .block-content :is(h1, h2, h3, h4, h5, h6),
html[data-theme='light'] .content .selected .todo .form-checkbox,
html[data-theme='light'] .content .selected .doing .form-checkbox {
  background-color: #ecf6fe;
  background-color: #e3f5ff;
  transition: ease-in 100ms;
}
html[data-theme='light'] .block-highlight,
html[data-theme='light'] .content .selected,
html[data-theme='light'] .content .selected .ls-block :is(h1, h2, h3, h4, h5, h6),
html[data-theme='light'] .selected .block-content :is(h1, h2, h3, h4, h5, h6) {
  border-color: #ecf6fe;
  border-color: #e3f5ff;
}
.selected {
  border-radius: 6px;
}
#right-sidebar .ls-block h1,
#right-sidebar .ls-block h2,
#right-sidebar .ls-block h3,
#right-sidebar .todo .form-checkbox,
#right-sidebar .doing .form-checkbox {
  background: var(--ls-secondary-background-color);
}
.form-checkbox {
  height: 0.88em;
  width: 0.9em;
  height: 15px;
  width: 15px;
  margin-right: 8px !important;
  margin-left: -22px;
}
.form-checkbox:hover {
  height: 15.1px;
  width: 15.1px;
  margin-right: 8px !important;
}
/* In doc mode, don't show the bullet except when hovering over it
  * directly (i.e. don't show it when hovering over the rest of the
  * block, only when you're hovering over the bullet itself). */
.doc-mode .bullet-container {
  opacity: 0;
}
.doc-mode .bullet-container.cursor,
.doc-mode .bullet-container,
.doc-mode .bullet {
  // opacity: 1;
  margin-right: 0;
  cursor: move;
}

/******************************************************************************/

.display-as--bullet .bullet {
  opacity: 1;
}
.display-as--doc .bullet {
  opacity: 0;
}
.display-children-as--bullet .block-children .display-as--doc .bullet,
.display-as--doc .bullet,
.display-children-as--doc .ls-block:not(.display-as--bullet) .bullet,
.display-children-as--bullet .display-as--doc .block-children .bullet,
.display-children-as--doc
  .display-children-as--bullet
  .ls-block.display-as--doc
  .bullet,
.display-children-as--bullet
  .display-children-as--doc
  .ls-block:not(.display-as--bullet)
  .bullet {
  opacity: 0;
}
.display-as--bullet :not(.display-as--doc) .bullet,
.display-children-as--bullet .ls-block :not(.display-as--doc) .bullet,
.display-children-as--doc .display-as--bullet .block-children .bullet,
.display-children-as--bullet
  .display-children-as--doc
  .ls-block.display-as--bullet
  .bullet,
.display-children-as--doc
  .display-children-as--bullet
  .ls-block:not(.display-as--doc)
  .bullet {
  opacity: 1;
}
// .display-as--doc .bullet,
// .display-as--doc .display-as--bullet .display-as--doc .bullet,
// .display-as--doc .display-as--bullet .display-as--doc .display-as--bullet .display-as--doc .bullet,
// .display-as--doc .display-as--bullet .display-as--doc .display-as--bullet .display-as--doc .display-as--bullet .display-as--doc .bullet,
// .display-children-as--doc .bullet,
// .display-children-as--doc .display-children-as--bullet .display-children-as--doc .bullet,
// .display-children-as--doc .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .display-children-as--doc .bullet,
// .display-children-as--doc .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .display-children-as--doc .bullet {
//   opacity: 0;
// }
// .display-as--bullet .bullet,
// .display-as--bullet .display-as--doc .display-as--bullet .bullet,
// .display-as--bullet .display-as--doc .display-as--bullet .display-as--doc .display-as--bullet .bullet,
// .display-as--bullet .display-as--doc .display-as--bullet .display-as--doc .display-as--bullet .display-as--doc .display-as--bullet .bullet,
// .display-children-as--bullet .bullet,
// .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .bullet,
// .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .bullet,
// .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .display-children-as--doc .display-children-as--bullet .display-children-as--doc .display-children-as--doc .bullet {
//   opacity: 1;
// }
// .display-as--doc > .block-self .bullet,
// .display-as--doc > .block-children .bullet,
// .display-as--bullet .display-as--doc > .block-children .bullet,
// .display-children-as--doc > .block-children .bullet {
//   opacity: 0;
//   // .display-children-as--doc .ls-block .bullet ,
//   // .display-children-as--bullet .display-as--doc .bullet,
//   // .display-children-as--bullet .display-as--doc .display-children-as--bullet .display-as--doc .bullet,
// }
// // .display-children-as--bullet .display-as--doc .display-children-as--bullet .bullet,
// // .display-children-as--bullet .display-as--doc .display-children-as--bullet .display-as--doc .display-as--bullet .bullet,
// // .display-as--bullet :not(.display-as--doc) .bullet,
// // .display-children-as--bullet .ls-block :not(.display-as--doc) .bullet,
// .display-as--bullet > .block-self .bullet,
// .display-as--bullet > .block-children .bullet,
// .display-as--doc .display-as--bullet > .block-children .bullet,
// .display-children-as--bullet > .block-children .bullet {
//   opacity: 1;
// }

/******************************************************************************/

.extensions__code > .CodeMirror {
  padding-top: 0;
  margin: 0;
  border-radius: 8px;
}
.extensions__code-calc {
  color: grey;
  font-weight: bolder;
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like,
.CodeMirror * {
  word-wrap: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
}
.bullet-container {
  margin-left: -3px;
  margin-right: 3px;
  height: 12px;
  width: 12px;
}
.bullet-container .bullet {
  width: 6px;
  height: 6px;
  background-color: #666;
  background-color: #888;
  border-radius: 6px;
  margin-left: 2px;
}
.time-spent a {
  display: none;
  cursor: default;
  color: #444;
  font-size: 13px;
  font-family: var(--monospace-font);
}

/******************************************************************************/
/** Show checkboxes even when editing that line *******************************/
/******************************************************************************/
.todo-block:before {
  content: '';
  border: 2px solid #999;
  border-radius: 2px;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-top: 5px;
  margin-left: -22px;
  background: var(--ls-primary-background-color);
}
.doing-block:before {
  content: '';
  border-radius: 2px;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-top: 5px;
  margin-left: -22px;
  background-color: white;
  border: 2px solid rgb(50, 209, 135);
  border-radius: 13px;
}
.done-block:before {
  content: '';
  border: 2px solid #999;
  border-radius: 2px;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-top: 5px;
  margin-left: -22px;
  background-color: #999;
  background-image: url("data:image/svg+xml,%3csvg viewBox='3 3 10 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e") !important;
}
html[data-theme='light'] .editor-inner textarea {
  // background: #c0e6fd22;
  // background: #cccccc33;
  // background: #e3f5ff;
  background: #eef8ff;
}
html[data-theme='dark'] .editor-inner textarea {
  background: #c0e6fd22;
}
.editor-inner textarea {
  width: calc(100% + 50px);
}
textarea::selection {
  background-color: #cee8ef;
  color: black;
}
html[data-theme='light'] .editor-inner textarea {
  color: black;
}
html[data-theme='dark'] .editor-inner textarea {
  color: white;
  opacity: 0.8;
}
/* Make sure bullet is on top of `.editor-inner textarea` so that the
 * background doesn't cover the bullet.
 .ls-block .flex-row:first-child {
   z-index: 1;
  }
  */
/*
.blocks-container .bullet-container,
.blocks-container .block-content-wrapper
 {
  opacity: 0.8;
}
*/
/* TODO: build a toggle */
html[data-theme='light'] .selected .block-properties.page-properties {
  background-color: #e3f5ff !important;
}
html[data-theme='dark'] .selected .block-properties.page-properties {
  background-color: var(--ls-secondary-background-color) !important;
}
/* hide the block properties except when hovering */
#lazy-blocks .ls-block.pre-block[level="1"]:first-child {
  opacity: 0;
  max-height: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  transition: all 2s;
}
#lazy-blocks .ls-block.pre-block[level="1"]:first-child:hover {
  opacity: 1;
  max-height: 10000px;
  transition: all 400ms;
}
.block-properties.page-properties,
.block-properties.page-properties .page-property-key {
  color: var(--ls-block-ref-link-text-color);
  color: var(--ls-block-bullet-border-color);
  color: var(--ls-icon-color);
}
.page-property-key.font-medium {
  font-weight: 400; /* override 500 */
}
.block-properties.page-properties {
  cursor: pointer;
  background-color: var(--ls-primary-background-color) !important;
}
#main-content-container .block-properties.page-properties {
  margin-left: -50px;
  padding-left: 32px;

  margin-right: -56px;
  padding-right: 32px;

  margin-top: -16px;
  padding-top: 16px;

  padding-bottom: 64px !important;
  padding-bottom: 40px !important;
  margin-bottom: -8px;
}
// #main-content-container .block-properties.page-properties * {
//   opacity: 0.6;
// }
// #main-content-container .block-properties.page-properties:hover * {
//   opacity: 1;
// }
#main-content-container .embed-page .block-properties.page-properties {
  margin: 0;
  padding: 0;
  background: var(--color-level-1) !important;
  margin-left: -24px;
  padding-left: 16px;
  padding-bottom: 8px !important;
}
#main-content-container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.page.relative .relative {
  padding-left: 64px;
  padding-right: 64px;
}
.cp__sidebar-main-content {
  max-width: calc(var(--ls-main-content-max-width) + 50px);
  max-width: none;
}
/******************************************************************************/
/** References (linked & unlinked) ********************************************/
/******************************************************************************/

.references {
  border-top: 1px solid var(--ls-quaternary-background-color);
  padding-top: 56px;
  margin-top: 36px;
  margin-right: -20px;
  padding-left: 64px;
  padding-right: calc(64px + 20px);
}
.editor-inner textarea.page-properties {
  font-size: 0.8em;
  font-family: var(--monospace-font);
  margin-bottom: -8px;
}
.block-properties {
  font-size: 0.7em;
  border-radius: 4px;
  padding: 4px 4px 6px 6px;
  // border: 1px solid var(--color-level-3);
  font-family: var(--monospace-font);
  background: none;
}
.block-properties .mr-1 {
  margin-right: 0.5rem;
}
.block-properties a {
  border-bottom: 2px solid #106ba322;
}
/* Don't show metadata when the bullet is collapsed. */
#main-content .collapsed .block-properties {
  display: none;
}
.block-body hr {
  /*
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 48px;
  margin-bottom: 40px;
  */
  border-width: 1px;
  margin: 12px -16px 0 -20px;
  z-index: -1;
  line-height: 1;
  width: auto;
  border-color: #ddd;
}
/*****/
.twitter-tweet.twitter-tweet-rendered {
  margin-top: 4px !important;
  max-width: 300px !important;
}
.twitter-tweet.twitter-tweet-rendered iframe {
  margin: 0;
}

/******************************************************************************/
/*** Spaced repetition cards review widget ************************************/
/******************************************************************************/
#preview-all-cards {
  display: none;
}

/******************************************************************************/
/*** Lowercase the left navbar ************************************************/
/******************************************************************************/

// .nav-content-item .hd .uppercase,
// .nav-content-item .header,
// nav {
//   text-transform: capitalize !important;
//   text-transform: lowercase !important;
// }

/******************************************************************************/
/** Review widget *************************************************************/
/******************************************************************************/

.cards-review {
  margin-left: -28px;
}
.cards-review.shadow-xl {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.05), 0 1px 6px rgba(0, 0, 0, 0.05);
  padding: 0;
  border-radius: 8px;
  border: 1px solid var(--color-level-3);
}
.cards-review .block-parents {
  display: none;
}
.cards-title {
  border-bottom: 1px solid var(--color-level-3);
  border-radius: 8px 8px 0 0;
  color: #999;
  background: var(--color-level-1);
  font-weight: 500;
  padding-left: 4px;
}
.cards-title .tippy-hover {
  display: none;
}
.cards-review .ls-card {
  padding: 0 12px 4px 12px;
}
.ui__modal .panel-content .block-parents {
  font-size: 0.9em;
  margin-bottom: 16px;
}
.ui__modal .panel-content div[data-refs-self*='"card"'],
.cards-review div[data-refs-self*='"card"'] {
  border: none;
  box-shadow: none;
  background: none;
  padding: 0 !important;
  padding-top: 8px !important;
  margin-left: 0;
}
.ls-card {
  border-top: none;
  padding: 8px 12px 0 12px;
  margin-top: -8px;
}
.ls-card div[data-refs-self*='"card"'] > .flex.flex-row.pr-2 .block-control {
  display: none;
}
.cards-review div[data-refs-self*='"card"'] {
  padding-left: 12px;
  margin-left: 0;
}
.block-parents {
  white-space: nowrap;
  overflow: hidden;
}
.block-parents a {
  color: var(--ls-link-text-color, #045591);
}

/******************************************************************************/
/** Card blocks ***************************************************************/
/******************************************************************************/

div[data-refs-self*='"card"'] > .flex.flex-row.pr-2 > .block-content-wrapper,
div[data-refs-self*='"card"'] > .flex.flex-row.pr-2 > .editor-wrapper {
  font-weight: bold;
  margin-left: -5px;
}
div[data-refs-self*='"card"'] > .flex.flex-row.pr-2 {
  margin-left: 0;
}
div[data-refs-self*='"card"'] > .flex.flex-row.pr-2 .bullet-container {
  opacity: 0.5;
  display: none;
}
div[data-refs-self*='"card"'] > .flex.flex-row.pr-2 .block-control {
  margin-left: 12px;
}
div[data-refs-self*='"card"'] > .flex.flex-row.pr-2 .control-hide {
  display: block;
}
div[data-refs-self*='"card"'] {
  margin-bottom: 8px;
  background: var(--color-level-1);
  border-radius: 4px;
  padding-left: 0;
  margin-left: 24px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border: 1px solid var(--color-level-3);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.03), 0 1px 6px rgba(0, 0, 0, 0.03);
}
html[data-theme='dark'] div[data-refs-self*='"card"'] {
  background: var(--color-level-1);
}
html[data-theme='light'] #right-sidebar div[data-refs-self*='"card"'] {
  background-color: rgba(255, 254, 253) !important;
}
html[data-theme='dark'] #right-sidebar div[data-refs-self*='"card"'] {
  background-color: var(--color-level-2);
}
div[data-refs-self*='"card"'] .block-children .bullet-container {
  opacity: 0.3;
  display: none;
}
div[data-refs-self*='"card"'] .block-children {
  padding-bottom: 0;
  margin-bottom: 0;
}
div[data-refs-self*='"card"'] .block-children > * {
  margin-left: 0;
  margin-left: -18px;
  margin-left: -12px;
}
div[data-refs-self*='"card"'] .block-properties,
div[data-refs-self*='"card"'] .block-properties .page-property-key {
  border: none;
  color: #999;
  padding: 0;
  margin: 0;
  background: none;
}

/******************************************************************************/
/*** inline PDF styles ********************************************************/
/******************************************************************************/
.asset-ref.is-pdf {
  border-bottom: 3px solid #cee8ef88;
  margin-bottom: -3px;
  padding-right: 4px;
  padding-left: 4px;
  transition: border-bottom 50ms ease-in-out !important;
}
.asset-ref.is-pdf:hover {
  transition: border-bottom 50ms ease-in-out !important;
  border-bottom: 3px solid #cee8efff;
}
.asset-ref.is-pdf:before {
  content: '📑';
  margin-right: 4px;
}
.asset-ref.is-pdf:after {
  content: '';
}

/******************************************************************************/
/*** make left sidebar more narrow ********************************************/
/******************************************************************************/
.cp__sidebar-left-layout {
  // max-width: calc(var(--ls-left-sidebar-width) - 50px);
  // max-width: calc(var(--ls-left-sidebar-width) - 0);
}
#main-content.is-left-sidebar-open {
  // padding-left: calc(var(--ls-left-sidebar-width) - 50px);
  // padding-left: calc(var(--ls-left-sidebar-width) - 0);
  padding-right: 16px;
}

/******************************************************************************/

.ls-block .image-resize {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
html[data-theme='light'] .ls-block .image-resize {
  border: 1px solid #efefef;
}
html[data-theme='dark'] .ls-block .image-resize {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.09),
    0 1px 3px rgba(255, 255, 255, 0.08);
}
.block-content .asset-container {
  margin-top: 0;
}
.ls-block .block-body {
  display: block !important; /* force the parent block body to show even when collapsed */
}

/******************************************************************************/

.settings-modal,
.settings-modal button {
  text-transform: lowercase !important;
}
